:root {
  --white-primary-color: #FBFBFB;
  --black-primary-color: #191A15;
  --black-primary-color-20: rgba(25, 26, 21, 0.2);
  --orange-primary-color: #FC832C;
  --orange-primary-color-10: rgba(252, 131, 44, 0.1);
  --orange-secondary-color: #F37113;
  --yellow-primary-color: #FBC75E;
  --green-primary-color: #54BE96;
}